$usual-color: #70778b;
$hover-color: #55699e;

@mixin onDesktop {
  @media (min-width: 1400px) {
    @content;
  }
}

.navigation { 
  margin-bottom: 50px;

  @include onDesktop {
    margin-top: 49px;
    margin-bottom: 64px;
  }

  &__list {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 396px;
    font-weight: 700;
    color: $usual-color;
    background-color: #f9fafd;
    box-shadow: 0 1px 2px 0 $usual-color;
    border-radius: 10px;

    @include onDesktop {
      width: 515px;
      height: 52px;
      font-size: 21px;
    }
  }

  &__arrow {
    &--left {
      padding-left: 11px;
    }

    &--right {
      padding-right: 11px;
    }
  }

  &__separator {
    position: relative;
    
    &--left {
      left: -20px;
    }

    &--right {
      right: -20px;
    }
  }

  &__number {
    position: relative;

    @include onDesktop {
      width: 24px;
    }

    &:focus {
      color: $hover-color;
      outline: 0;

      &::before {
        content: '';
        position: absolute;
        right: -6px;
        left: -6px;
        bottom: -8px;
        border-bottom: 2px solid;

        @include onDesktop {
          border-bottom: 3px solid;
          right: -8px;
          left: -8px;
          bottom: -10px;
        }
      }
    }
  }
}
